torch>=2.2.0
torchvision>=0.17.0
timm>=0.9.16
facenet-pytorch>=2.6.0
albumentations>=1.4.0
opencv-python>=4.9.0
numpy>=1.26.4
pandas>=2.2.0
scikit-learn>=1.4.0
matplotlib>=3.8.0
seaborn>=0.13.2
tqdm>=4.66.0
Pillow>=10.3.0
grad-cam>=1.5.0
shap>=0.45.0
kaggle>=1.6.6
gdown>=5.1.0
jupyter>=1.0.0
ipywidgets>=8.1.2
